.image-wipe-container {
    position: relative;
    display: inline-block;
}

.hero-image {
    width: 12em;
    height: auto;
    border-radius: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    transition: opacity 0.1s ease-out;
    transition: opacity 0.6s ease-in;

}

.hero-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 12em;
    height: auto;
    border-radius: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    clip-path: inset(100% 0 0 0);
    transition: clip-path 0.6s ease-in-out, transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.image-wipe-container:hover .hero-image-overlay {
    clip-path: inset(0 0% 0 0);
    filter: drop-shadow(0 4px 5px rgba(255, 255, 255, 70%));
}

.image-wipe-container:hover .hero-image {
    opacity: 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
}

.about-content h1 {
    font-size: 4em;
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--display-font);
    font-style: italic;
}

.about-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5em;
    margin: 2em 0 4em 0;
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em; 
}

.speech-bubble {
    padding-top: 1em;
    border-width: 4em;
    filter: drop-shadow(3px 0 5px rgba(255, 255, 255, 50%));

}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
}

.illustration-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.gallery-item {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .gallery-item {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (max-width: 900px) {
  .gallery-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .gallery-item {
    flex: 1 1 calc(100% - 20px);
  }
}