.quadrant-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.quadrant-card {
  background: rgba(255, 255, 255, 20%);
  border-radius: 1em;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.quadrant-card img {
    border-radius: 1em;
    cursor: pointer;
}


@media (max-width: 768px) {
  .quadrant-grid {
    grid-template-columns: 1fr;
  }
}

.centered-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em 0;
}

.centered-image-container img {
  width: 100%;
  height: auto;
  border-radius: 1em;
  padding-top: 2em;
}



