#root {
  width: 100%;
  min-height: 100vh;
}


body {
  background:
          linear-gradient(217deg, #874dff, transparent 70.71%),
          linear-gradient(127deg, #ffb260, transparent 70.71%),
          linear-gradient(336deg, #b382ff, transparent 70.71%);
}
