#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background:
          linear-gradient(217deg, #6c35e1, transparent 70.71%),
          linear-gradient(127deg, #ffce98, transparent 70.71%),
          linear-gradient(336deg, #bb4ada, transparent 70.71%);
}