:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-accent: rgb(255, 255, 255);
  --secondary-text: #41394c;

  --display-font: "Poltawski Nowy", serif;
  --main-text: "Nunito Sans", sans-serif;

  --page-margin-padding: 0 14em 0 13em;
}


.nunito-sans {
                font-family: "Nuwnito Sans", sans-serif;
                font-optical-sizing: auto;
                font-style: normal;
                font-variation-settings:
                        "wdth" 100,
                        "YTLC" 500;
              }


.poltawski-nowy-display-font {
                   font-family: "Poltawski Nowy", serif;
                   font-optical-sizing: auto;
                   font-weight: 500;
                   font-style: normal;
                 }


* {
    cursor: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
