@keyframes fadeIn {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}


.landing-container {
    width: 90vw;
    height: 90vh;
    position: relative;

    /*Glass morphism styling */
    background-color: rgba(255, 255, 255, 40%);
    border-radius: 4em;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 40%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* Keyframe animation */
    animation: fadeIn 1s ease-in;
}

.lockscreen-container {
    height: 100%;
    width: 100%;
}

.clock-face {
    font-family: var(--main-text), sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-top: 1em;
    background-color: rgb(107, 96, 138, 80%);
    padding: 0.2em 1.3em;
    border-radius: 2em;
}

.main-button {
    cursor: pointer;
    padding: 1em 2em;
    font-size: 1em;
    color: rgb(107, 96, 138);
    font-weight: bold;
    background: rgba(255, 255, 255, 40%);
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 2em;
    outline: 0.1em solid rgba(255, 255, 255, 40%);
    border: 0;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 40%);
    transition: all 0.3s ease-in-out;
    margin-bottom: 6em;
}

.main-button:hover {
    transform: scale(1.01);
    cursor: url("./assets/cursor_click.png") auto;

    background: radial-gradient(
            circle at bottom,
            rgb(108, 53, 225, 10%),
            rgba(255, 255, 255, 40%)
    );
}

.main-button:active {
    background-color: rgba(155, 127, 255, 50%);
    transform: scale(0.95);
    color: rgba(88, 16, 112, 0.7);

}


.title-name {
    font-family: var(--display-font), serif;
    font-size: 6em;
    color: rgb(86, 75, 113);
    font-weight: 700;
    text-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);

}

.title-subtext {
    font-family: var(--main-text), sans-serif;
    font-size: 2em;
    letter-spacing: 0.2em;
    color: rgb(86, 75, 113);
    font-weight: 600;
}

.lockscreen-inner {
    flex-direction: column;
    display: inline-flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 2em;
}