.container-content {
    width: 90vw;
    height: 80vh;
    max-width: 1300px; /* Won't exceed this width */
    max-height: 1000px; /* Won't exceed this height */
    margin: 0 auto;
    /* Glass morphism CSS settings */
    border-radius: 2.5em;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 40%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid var(--main-accent);
    background-color: rgba(255, 255, 255, 30%);
}

.box-content {
    padding-top: 2em;
    margin: 0 10em 0 10em;
    text-align: left;
}

.page-title {
    padding: 0 0 0 30px;
    width: 30em;
    text-align: left;
    display: flex;

    border-radius: 2em;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 40%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid var(--main-accent);
}

.page-title h1 {
    color: var(--main-accent);
    font-size: 2em;
    font-family: "Nunito Sans", serif;
}

.box-content h2 {
    color: var(--main-accent);
    font-family: "Nunito Sans", serif;
    font-size: 1.7em;
}

.divider {
    border-bottom: 3px solid var(--main-accent);
    margin: 0 10em 0 10em;
    color: var(--main-accent);
    font-family: "Nunito Sans", serif;
    height: 1em;
    padding: 20px 16px;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.divider li {
    font-size: 1.3em;
}

.nav-button {
    color: white;
    padding: 5px 25px 5px 25px;
    border-radius: 0.5em;
    transition: all ease 0.3s;
    cursor: pointer;
}

.nav-button:hover {
    background-color: rgba(196, 180, 255, 60%);
}

.nav-button:active {
    background-color: rgba(155, 127, 255, 60%);
}