/* Old Temp card component, save for reference, not currently in use */

@keyframes bounce {
    0% { transform: translateY(0); }
    10% { transform: translateY(-2%); }
    100% { transform: translateY(0); }
}


.card-folder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 1em;
  padding-bottom: 3em;
}


.card-folder img {
    width: 10em;
    height: auto;
    transition: transform 0.3s ease;
    filter: drop-shadow(0 4px 5px rgba(255, 255, 255, 20%));
}

.card-folder img:hover {
    animation: bounce 0.5s;
    transition: transform 0.3s ease;
}

.card-folder h5 {
  margin: 0;
  color: var(--secondary-text);
  padding-left: 5px;
  padding-right: 5px;
}

.card-folder p {
  margin: 0;
  color: var(--secondary-text);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.card-folder img {
  margin-bottom: 1.5em;
}