.project-details-container {
    display: flex;
    align-items: center;
}

.project-heading h2 {
    font-family: "Nunito Sans", serif;
    font-size: 1.8em;
    padding-top: 0.7em;
}

.back-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--secondary-text);
    background-color: rgba(255, 255, 255, 70%);
    cursor: pointer;
}

.back-button:hover {
    color: var(--secondary-text);
    background-color: rgba(255, 255, 255, 40%);
    transition: all ease 0.3s;
}

.back-button:active {
    background-color: rgba(255, 255, 255, 100%);

}

.back-button svg {
    padding-right: 10px;
    padding-top: 5px;
}

.back-button svg path {
    fill: var(--secondary-text);
}

.overview-content, .roles-content {
    display: flex;
    align-items: baseline;
    gap: 2em;
}

.overview-content p,.roles-content p {
    flex: 1;
    margin: 0;
}


.roles-content ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding-left: 1.5em;
    list-style-type: disc;
}

.processes-content {
    margin: 0 auto;
}

.processes-heading, .overview-heading, .roles-heading {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 2.5em;
}


.processes-pills li {
    cursor: pointer;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 40%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid var(--main-accent);
    background-color: rgba(255, 255, 255, 30%);
    transition: all ease 0.2s;
}

.processes-pills li:hover {
    box-shadow: 0 4px 30px rgba(255, 255, 255, 80%);

}

.processes-pills li:active {
    background-color: rgba(255, 255, 255, 60%);

}

.processes-heading svg path, .overview-heading svg path, .roles-heading svg path {
    fill: #7770D9;
}

.problem-content, .prototype-content, .development-content, .testing-changes-content, .overview-content, .roles-content {
    padding: 0.5em 0 0.5em 0;
}

.image-divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-divider img {
    width: 100%;
    max-width: 900px;
    border-radius: 2em;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 40%);
    margin: 2em 0;
}

.prototype-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prototype-images img {
    width: 100%;
    max-width: 1200px;
}

.research-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
}

.research-box p {
    flex: 1;
    margin-bottom: 2em;
}

.research-box img {
    width: 100%;
    max-width: 400px;
    border-radius: 1.5em;
    flex-shrink: 0;
}

.research-comment {
    background-color: rgba(255, 128, 89, 0.1);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 40%);
    padding: 1em;
    border-radius: 1em;
}